body {
    background-color: aqua;
}

.hat-img {
    position: relative;
    height:100px;
    width: 90px;
    z-index: 10;
}


/*Animation Hat*/
.hat-animation {
    position: absolute;
    right: 100px;
    top: 10px;
    z-index: 10;
}

@keyframes hatMove {
   
    0% {
        transform: translateX(0) rotate(0deg);
    }

    30% {
        transform: translateX(0) rotate(0deg);
    }

    60% {
        transform: translateX(0) rotate(180deg);
    }

    70% {
        transform: translateX(0) rotate(0deg);
    }

    90% {
        transform: translateX(0) rotate(0deg);
    }
    
    100% {
        transform: translateX(-70px) rotate(0deg);
    }

}

.hatAnimation {
    animation: hatMove 3s ease-in-out forwards, 
               hatReset 1s ease-in-out 5s forwards;
}

@keyframes hatReset {
    0% {
      transform: translateX(-70px) rotate(0deg);
    }
    100% {
      transform: translateX(0) rotate(0deg);
    }
  }

