/* Object-Fit & Object-Position with Breakpoints */

/* CSS-Variablen für Responsive Schriften */

:root{
        /* Desktop */
        --type-size-p2: 24px;
        --type-size-h2: 32px;
        --type-size-p1: 32px;
        --type-size-h1: 64px;
}

h1{
    font-size: var(--type-size-h1);
    color: #E4D2C0;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #634832;
    font-family: "Henny Penny";
    font-family: 'Henny Penny';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h2{
    font-size: var(--type-size-h2);
    color: #FFF;
    font-family: "Henny Penny";
    text-align: center;
    font-family: 'Henny Penny';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h3{ /*ist eigentlich Schrift p1, aber geht nicht in css*/
    font-size: var(--type-size-p1);
    color: #FFF;
    text-align: center;
    font-family: Cormorant;
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

p{ /*ist Schrift p2 in Figma*/
    font-size: var(--type-size-p2);
    color: #fff;
    text-align: center;
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*colors, die wir haben/brauchen*/

:root{
    /*Dunkelbraun*/
    --color-primary: #634832;

    /*Hellbraun*/
    --color-secondary: #E4D2C0; 

    /*Weiss*/
    --color-text: #ffffff; 
}

/*Button default für desktop Styling, also der API-Button, bevor geklickt wurde*/
#APIButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='473' height='96' viewBox='0 0 473 96'><path d='M87 0L0 48.5L87 95.5H384.5L473 48.5L384.5 0H87Z' fill='%23634832'/></svg>");
    background-repeat: no-repeat;
    background-size: contain;      
    background-position: center;
    background-color: transparent;
    border: none;
    width: 473px;
    height: 95.5px;
    flex-shrink: 0;
}

/*Button default für mobile Styling*/
#APIButtonMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='473' height='96' viewBox='0 0 473 96'><path d='M87 0L0 48.5L87 95.5H384.5L473 48.5L384.5 0H87Z' fill='%23634832'/></svg>");
    background-repeat: no-repeat;
    background-size: contain;      
    background-position: center;
    background-color: transparent;
    border: none;
    width: 302px;
    height: 53px;
    flex-shrink: 0;
}

/*Karte im Hintergrund für Spells, für Desktopgrösse und Tabletgrösse*/
#cardForSpells {
    background-image: url(img/card.png);
    background-color: transparent;
    background-size: contain;
    width: 664px;
    height: 436px;
    flex-shrink: 0;
    aspect-ratio: 166/109;
}

/*Backgorund Hogwarts*/
body {
    background-image: url(img/hogwarts.jpeg);
    background-size: cover;
    background-position: 35% top;
    background-repeat: no-repeat;
    min-height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0; 
    
}

/*HEADER STYLING*/

header {
    position: fixed;
    height: 242px;
    width: 100%;

    /*Fade in Header*/
    opacity: 0;
    transition-property: opacity;
    transition-duration: 1.2s;
}

header.fade {
    opacity: 1;
}

.hat {
    height:100px;
    width: 90px;
    position: absolute;
    right: 100px;
    top: 10px;
}

main {
    padding-top: 242px;
}

/*Fade in Text/Button*/
.container {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 1.2s;

}

.container.fade {
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}



/*MEDIA QUERIES---> Bitte möglichst unten lassen, so überschreiben wir sie nicht ausversehen!*/

/*@media (min-width: 480px) and (max-width: 768px) {
    body {
        /* Hochkant Tablet 
        background-position: 44% -30px;   
        background-size: 115%;            
        background-repeat: no-repeat;
        background-image: url(img/hogwarts.jpeg);
    }
}*/

@media (max-width: 768px) {
    :root {
        /*Tablet*/
            --type-size-p2: 21px;
            --type-size-h2: 27px;
            --type-size-p1: 27px;
            --type-size-h1: 52px;
    }

    .hat {
        height: 80px;
        width: 72px;
        right: 60px;
        top: 8px;
    }

    body {
        background-image: url(img/hogwarts.jpeg);
        background-position: center -30px;     
        background-size: cover;               
        background-repeat: no-repeat;
        min-height: 105vh;
        overflow: hidden;
    }
}

@media (max-width: 480px) {
    :root {
        /* Mobile */
        --type-size-p2: 18px;
        --type-size-h2: 22px;
        --type-size-p1: 22px;
        --type-size-h1: 40px;
    }

    .hat {
    height: 60px;
    width: 54px;
    right: 35px;
    top: 6px;
    }

    body {
        background-image: url(img/hogwarts.jpeg);
        background-position: 50% -30px;   
        background-repeat: no-repeat;
        min-height: 130vh;
        overflow: hidden;
    } 
    
    /*Button default für mobile Styling*/
    #APIButtonMobile {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='473' height='96' viewBox='0 0 473 96'><path d='M87 0L0 48.5L87 95.5H384.5L473 48.5L384.5 0H87Z' fill='%23634832'/></svg>");
        background-repeat: no-repeat;
        background-size: contain;      
        background-position: center;
        background-color: transparent;
        border: none;
        width: 302px;
        height: 53px;
        flex-shrink: 0;
    }
    
    /*Karte im Hintergrund für Spells, Mobile Version*/
    #cardForSpells {
        background-image: url(img/card.png);
        background-color: transparent;
        background-size: contain;
        width: 418px;
        height: 275px;
        transform: rotate(90deg);
        flex-shrink: 0;
        aspect-ratio: 38/25;
    }
}
